<% provide(:title, @product.name) %>

<%= render "light_section", product: @product %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render partial: "image", locals: { product: @product} %>
          <%= render partial: "product_details", locals: { product: @product} %>
        </div>
      </div>
    </div>
    <%= render partial: 'related_products' %>
  </div>
</section>